ASTRA_Make_Blueprint.json
{
    "name": "Integration Discord",
    "flow": [
        {
            "id": 1,
            "module": "discord:WatchChannelMessages",
            "version": 2,
            "parameters": {
                "limit": 1,
                "channelId": "1443632689469984798",
                "__IMTCONN__": 3775222
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 4
                },
                "restore": {
                    "parameters": {
                        "channelId": {
                            "label": "linkedin-enae-español"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (RoboFer (ferecico))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3877075
            },
            "mapper": {
                "model": "o4-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "Eres ASTRA v8.0, un Consultor de Negocios experto y Custodio de la Directiva L.1.\r\nTu objetivo es analizar ideas de negocio basándote EXCLUSIVAMENTE en la siguiente metodología y generar una salida estructurada.\r\n\r\n[CAPA 0: GOBERNANZA]\r\n- Prioridad: Impacto, Viabilidad, No Especulación.\r\n- Seguridad: Si falta información crítica, asume un escenario estándar realista. No bloquees la ejecución por falta de datos.\r\n\r\n[BASE DE CONOCIMIENTO: METODOLOGÍA (RAG ESTÁTICO)]\r\nUsa estos principios para tu análisis:\r\n\r\n1. DEFINICIÓN (Design Thinking):\r\n   - JTBD (Jobs To Be Done): Estructura \"Cuando [situación], quiero [motivación], para [resultado]\".\r\n   - HMW (How Might We): Preguntas accionables \"¿Cómo podríamos...?\" enfocadas en viabilidad técnica (2-3 semanas).\r\n\r\n2. MODELADO DE NEGOCIO (BMC v1.2):\r\n   - Propuesta de Valor: Debe incluir 1 Pain principal, 1 Gain principal y diferenciador claro.\r\n   - Segmentación: Definir ICP (Ideal Customer Profile) por Industria, Tamaño, Decisor y Disparador de compra.\r\n   - Canales: Rutas de Adquisición, Activación y Retención.\r\n   - Ingresos: Modelos claros (Suscripción, Freemium, Uso).\r\n\r\n3. VALIDACIÓN:\r\n   - Métricas: Evitar métricas de vanidad. Buscar KPIs de adopción y conversión.\r\n   - Mentalidad: Ciclos cortos experimentar-medir-decidir.\r\n\r\n4. ESTRATEGIA (NaBC Pitch):\r\n   - Necesidad (Urgencia), Enfoque (Solución única), Beneficios vs Costos, Competencia.\r\n\r\n[INSTRUCCIÓN DE TAREA]\r\nAnaliza la idea del usuario aplicando los principios anteriores. Identifica la propuesta de valor real, el cliente ideal según el marco ICP y el modelo de ingresos más viable.\r\n\r\n[FORMATO DE SALIDA OBLIGATORIO]\r\nResponde ÚNICAMENTE con un objeto JSON válido. No incluyas texto, saludos ni explicaciones fuera del JSON.\r\n\r\n{\r\n  \"titulo\": \"Nombre comercial creativo y corto\",\r\n  \"resumen\": \"Resumen ejecutivo de 3 líneas aplicando el framework NaBC.\",\r\n  \"propuesta\": \"3 puntos clave: Pain resuelto, Gain generado y Diferenciador.\",\r\n  \"cliente\": \"ICP definido por Industria, Rol del Decisor y Contexto de uso.\",\r\n  \"viabilidad\": \"Alta/Media/Baja basado en complejidad técnica vs valor.\",\r\n  \"ingresos\": \"Estrategia de monetización y precio estimado.\",\r\n {\r\n  \"titulo\": \"Nombre corto y comercial\",\r\n  \"resumen\": \"Resumen ejecutivo usando framework NaBC (max 3 lineas)\",\r\n  \"propuesta\": \"Pain principal, Gain principal y Diferenciador\",\r\n  \"cliente\": \"ICP (Industria, Rol, Contexto)\",\r\n  \"viabilidad\": \"Alta/Media/Baja\",\r\n  \"ingresos\": \"Modelo de monetización breve\",\r\n  \"gamma_prompt\": \"Create a detailed pitch deck for a business named [Titulo]. BUSINESS CONCEPT: [Insertar aquí el Resumen generado]. TARGET AUDIENCE: [Insertar Cliente]. VALUE PROPOSITION: [Insertar Propuesta]. REVENUE MODEL: [Insertar Ingresos]. The deck must have 6 slides: Problem, Solution, Market, Business Model, Roadmap, Team. Tone: Professional and Innovative.\"\r\n}"
                    },
                    {
                        "role": "user",
                        "content": "{{1.content}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 197,
                    "y": -414
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "o4-mini (system)Fast, cost-efficient reasoning model, succeeded by GPT-5 mini"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "reasoning_effort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Mi Open AI"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "reasoning_effort",
                        "type": "select",
                        "label": "Reasoning Effort",
                        "validate": {
                            "enum": [
                                "minimal",
                                "low",
                                "medium",
                                "high"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{5.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 413,
                    "y": 11
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3857800
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{now}}",
                    "1": "{{1.author.username}}",
                    "2": "{{1.content}}",
                    "3": "{{7.titulo}}",
                    "4": "{{7.ingresos}}",
                    "5": "✅ Procesado"
                },
                "sheetId": "Hoja 1",
                "spreadsheetId": "/1TYY30f0vojPn7CkLMIi-JuMWqqJacT-ARzLUvk82zeI",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 488,
                    "y": -406
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Hoja 1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Registro Ideas Bot"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Fecha y Hora (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Usuario (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Idea Original (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Nombre del Proyecto (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Viabilidad (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Estado (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (fernando.martinez.buitrago@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Fecha y Hora (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Usuario (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Idea Original (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Nombre del Proyecto (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Viabilidad (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Estado (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3857800
            },
            "mapper": {
                "name": "Idea de Negocio",
                "footer": false,
                "header": false,
                "content": "Plan de Negocio:{{7.titulo}}\n\nResumen Ejecutivo:{{7.resumen}}\n\nPropuesta de Valor:{{7.propuesta}}\n\nCliente Objetivo:{{7.cliente}}\n\nIngresos:{{7.ingresos}}\n\ngamma prompt{{7.gamma_prompt}}\n",
                "folderId": "/",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 680,
                    "y": -678
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "/"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (fernando.martinez.buitrago@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "google-slides:createPresentation",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3857800
            },
            "mapper": {
                "from": "drive",
                "title": "Plan de Negocio",
                "select": "value",
                "shared": false,
                "folderId": "/",
                "requests": {
                    "titulo": "{{7.titulo}}",
                    "cliente": "{{7.cliente}}",
                    "resumen": "{{7.resumen}}",
                    "ingresos": "{{7.ingresos}}",
                    "propuesta": "{{7.propuesta}}",
                    "gamma prompt": "{{7.gamma_prompt}}"
                },
                "destination": "drive",
                "presentation": "/1vUY4hG5b6_sVbt2lt7e8_WpBlOSeGwAgnEOnpCue4Yk"
            },
            "metadata": {
                "designer": {
                    "x": 832,
                    "y": 10
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "By Dropdown"
                        },
                        "shared": {
                            "mode": "chose"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "/"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "presentation": {
                            "path": [
                                "Plantilla ASTRA"
                            ],
                            "nested": [
                                {
                                    "name": "requests",
                                    "spec": [
                                        {
                                            "name": "titulo",
                                            "type": "text",
                                            "label": "titulo"
                                        },
                                        {
                                            "name": "resumen",
                                            "type": "text",
                                            "label": "resumen"
                                        },
                                        {
                                            "name": "propuesta",
                                            "type": "text",
                                            "label": "propuesta"
                                        },
                                        {
                                            "name": "cliente",
                                            "type": "text",
                                            "label": "cliente"
                                        },
                                        {
                                            "name": "ingresos",
                                            "type": "text",
                                            "label": "ingresos"
                                        },
                                        {
                                            "name": "gamma prompt",
                                            "type": "text",
                                            "label": "gamma prompt"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (fernando.martinez.buitrago@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Copy a Presentation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "shared",
                        "type": "boolean",
                        "label": "Shared",
                        "required": true
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "presentation",
                        "type": "file",
                        "label": "Presentation ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "spec": [
                            {
                                "name": "titulo",
                                "type": "text"
                            },
                            {
                                "name": "resumen",
                                "type": "text"
                            },
                            {
                                "name": "propuesta",
                                "type": "text"
                            },
                            {
                                "name": "cliente",
                                "type": "text"
                            },
                            {
                                "name": "ingresos",
                                "type": "text"
                            },
                            {
                                "name": "gamma prompt",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3775222
            },
            "mapper": {
                "select": "channel",
                "content": "🚀 ¡PROCESO FINALIZADO!\n\n✅ Plan de Negocio: Creado en Google Docs. ✅ Presentación: Creada en Google Drive.\n\nPor favor, ve a tu carpeta de Google Drive para ver los archivos completos, ya que el texto es demasiado largo para Discord.",
                "channelId": "1443632689469984798",
                "message_reference": {}
            },
            "metadata": {
                "designer": {
                    "x": 1094,
                    "y": -439
                },
                "restore": {
                    "expect": {
                        "tts": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose"
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "linkedin-enae-español"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (RoboFer (ferecico))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "array",
                        "label": "Embeds"
                    },
                    {
                        "name": "sticker_ids",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Stickers"
                    },
                    {
                        "name": "components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Components"
                    },
                    {
                        "name": "files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Files"
                    },
                    {
                        "name": "message_reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Message Reference"
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}